@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to Car Insurance Co.</p>
</div>

<div class="row">
  <div class="col">
    <h2>Site Overview</h2>
    <p>
      Select Insuree to enter potential client data and view details.
    </p>
    <p>
      Select Admin to review generated quotes.
    </p>
  </div>
</div>